[Unit]
Description=Maximize currently focused gamescope app
After=network-online.target
Wants=network-online.target
StartLimitBurst=1000

[Service]
Restart=always
RestartSec=2s
Environment=DISPLAY=:1
KillSignal=SIGKILL
ExecStart=/usr/bin/python3 /home/deck/deckbrew/user/sp-gamemode-window-maximize/main.py
#ExecStart=/usr/bin/bash -c "/home/deck/deckbrew/user/sp-gamemode-window-maximize/main.sh"

[Install]
WantedBy=default.target